body {
    margin: 2;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
    -webkit-text-size-adjust: none;
    --hedder-height:60px;
    --tablefontsize:11px;
    --hederZindex:100;
    --menuZindex:50;
    --tableZindex:10;
    --tableTHZindex:20;
    --tableTDZindex:15;
    --tableTDOverZindex:18;
    --back-color:#c3f9df;
      background: #fff;	/*背景色*/
    color: black;	    /*全体の文字色*/
    text-align: center;
}
header {
	position: fixed;
  display: flex;
  justify-content:space-between;
	width: 100%;
	height: var(--hedder-height);
	top: 0;
	z-index: var( --hederZindex);
  background-color:var(--back-color); /* ヘッダーの背景色を指定する */
  padding: 0 ; 
  margin: 0;
 	font-size: 14px;
	font-weight: bold;
  text-align: center;  
}
.NavigationMenu{
  display: flex;
  flex-direction: row;
  width:80%;
/*  justify-content: flex-end;*/
  /*top: 0; 
  left: 0;  
  padding: 10px;
  margin: 20;
  align-items: flex-start;*/
}  
.navUl{
  display: flex;
  flex-direction: row;
 /* align-items: flex-start;*/
}
.navUl li{
  list-style:none;
}
.NavigationMenu input{
  vertical-align: top;
  text-align: top;
  padding-top: 0;
}
.dataheader {
	z-index:var(--tableZindex);
/*	height: 100;*/
	display: flex;
	flex-direction: column;
    background: var(--background-subheader);
	font-size: 14px;
	font-weight: bold;
}

.title{
	/*display: flex;
	background-color: rgb(254, 255, 255);*/
	margin-top: 0px;
	align-items: center;
  padding: 3px,3px,0,0;
}
#titletext{
	width: 150px;
}   

table {
    text-align: center;
    font-size:10px;
    /*font-weight: bold;*/ 
}
   
table {
  text-align: center;
  table-layout:fixed; 
  width:100%;
  font-size:11px; 
  font-weight: bold;
  margin: 10;
  padding: 10px;
  border-spacing: 0
 /* margin-top: var(--hedder-height);*/
}
table th {
  z-index: var(--tableTHZindex);
  top:0;
  font-size:12px;
  padding: 0.2rem;
  margin: 0;
  text-align: center;
}
table td {
  text-align: start;
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  overflow: hidden;  
}
.pmenu {
/*  position: relative;
  flex: 1;*/
  cursor: pointer;
  font-size:12px;
  font-weight: bold;
  width: 200px; 
  padding-left: 10px;
  padding-right: 10px;
/*  border-left: 1px solid gray;
  border-right: 1px solid gray;*/
  text-align: center;
  align-items: center;
}
.pmenu li{
	border-bottom: 1px solid rgb(241, 41, 15);
}
.submenu {
  list-style: none;
/*  position: absolute;*/
  position: relative;
  display: block;
  z-index: 100;
  width: 500px;
  top: 0px;
  clear: both;
  align-items: center;
  text-align: center;
  padding: 0px 0 20px 0;
  background-color: var(--back-color);
  margin-top: -4px;
  visibility: hidden;
}
.submenu ul{
  text-align: center;
}
.submenu li{
/*  display: flex;
  justify-content: center;*/
  width:100%;
  padding: 5px 0 5px 0;
  align-items: center;
  text-align: center;
}

.pmenu:hover {
  background-color: var(--back-color); 
}
.pmenu:hover .submenu {
/*	background-color: var(--back-color);   */
  transition: all 0.3s;
  visibility: visible;

}
/*.pmenu:active .submenu {
		background-color: red;
	  transition: all 0.3s;
	  visibility: hidden;
	
}
.pmenu a:checked .submenu{
  	background-color: pink;
    transition: all 0.3s;
    visibility: hidden;
}*/

.tableul {
  text-align: left;
/*    list-style-type:circle */
  list-style-type: '';
  text-wrap: nowrap; 
  text-overflow: ellipsis;
  margin: 0;
  padding-left: 1em;
  z-index: var(--tableTDZindex);
  position: relative;
}



.tablepmenu {
cursor: pointer;
list-style: '';
position: relative;
text-align: left;
align-items: left;
padding: auto;
/*  list-style: none;*/
}
.teblesubitem {
  list-style: none;
  z-index: var(--tableTDZindex);
/*  display: inline-block;
clear: both;*/
  display: block;
  align-items: left;
  text-align: left;
  /*width: 150%;*/
  background-color: rgb(200, 243, 245);
  overflow:visible;
  padding-left:1em;
  margin:0px;
}
.teblesubitem li{
    text-align: left;
   /* overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
.searchResult {
  display: flex;
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  top:var(--hedder-height);
  left:120px;
  visibility: hidden;
  background-color: rgb(239, 225, 196);
  text-align: left;
  z-index: 20;
  overflow: auto;
/*  height:  calc(100% -100px);
  height: 300px;*/
  flex-wrap: wrap;
  align-items: baseline;
}
.jidaiul {
  text-align: left;
/*    list-style-type:circle */
  list-style-type: none;
  text-wrap: nowrap; 
  text-overflow: ellipsis;
  margin: 0;
  z-index: var(--tableTDZindex);
  position: relative;
}

.jidaiul:hover  .colortext{
background-color: rgb(230, 246, 221);
z-index: (--tableTDOverZindex);
font-weight: bold;
opacity: 7;
}
