body {
    margin: 2;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
    -webkit-text-size-adjust: none;
    --hedder-height:40px;
    --tablefontsize:11px;
    --hederZindex:100;
    --menuZindex:50;
    --tableZindex:10;
    --tableTHZindex:20;
    --tableTDZindex:15;
    --tableTDOverZindex:18;
    --accent: linear-gradient(135deg, #6a5cff, #00d4ff);
    --back-color:#c3f9df;
      background: #fff;	/*背景色*/
    color: black;	    /*全体の文字色*/
    text-align: center;
}
.map {
  position:  relative;
  height: 100vh;
}
header {
	/*position: fixed;*/
  display: flex;
 /* justify-content:space-between;*/
	width: 100%;
	height: var(--hedder-height);
	top: 0;
	z-index: var( --hederZindex);
  background-color:var(--back-color); /* ヘッダーの背景色を指定する */
  
  padding: 0 ; 
  margin: 0;
 	font-size: 14px;
	font-weight: bold;
  text-align: left;  
}
.site-title {
  font-size: 1.2rem;
/*  font-weight: 700;*/
  font-weight: bold;
  background: var(--accent);
/*  background-clip: text;*/
  color: white;
  text-shadow: none;
  letter-spacing: 0.5px;
  padding: 5px ; 
  margin: 2px;
}
.NavigationMenu{
  display: flex;
  flex-direction: row;
  width:80%;
/*  justify-content: flex-end;*/
  /*top: 0; 
  left: 0;  
  padding: 10px;
  margin: 20;
  align-items: flex-start;*/
}  
.navUl{
  display: flex;
  padding-left: 0;
  flex-direction: row;
  /*background-color: #cc0000;*/
  align-items: flex-start;
  
}
.navUl li{
  list-style:none;
  flex: auto;
  text-align: center;
  padding: 2px;
  width:20%;
  border-left: 1px solid rgb(197, 196, 196);
  border-right: 1px solid rgb(197, 196, 196);

}
.NavigationMenu input{
  vertical-align: top;
  text-align: top;
  padding-top: 0;
}
.dataheader {
	z-index:var(--tableZindex);
	height: 100;
  position:sticky;
  top:30px;  
  /*top:100vh;
  position:relative;  
  flex-direction: column;
  */
 	display: flex;
	background: rgb(200, 243, 245);
	font-size: 14px;
	font-weight: bold;
}

.title{
	/*display: flex;
	background-color: rgb(254, 255, 255);*/
	margin-top: 0px;
	align-items: center;
  padding: 3px,3px,0,0;
}
#titletext{
	width: 150px;
}   

  
table {
  text-align: center;
  table-layout:fixed; 
  width:100%;
  font-size:11px; 
  font-weight: bold;
  margin: 10;
  padding: 10px;
  border-spacing: 0
 /* margin-top: var(--hedder-height);*/
}
table th {
  z-index: var(--tableTHZindex);
  top:0;
  font-size:12px;
  padding: 0.2rem;
  margin: 0;
  text-align: center;
}
table td {
  text-align: start;
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  overflow: hidden;  
}
.pmenu {
/*  position: relative;
  flex: 1;*/
  cursor: pointer;
  font-size:14px;
  font-weight: bold;
/*  width: 200px; */
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
/*  border-left: 1px solid gray;
  border-right: 1px solid gray;*/
  text-align: center;
  align-items: center;
}
.pmenu li{
	border-bottom: 1px solid rgb(8, 70, 39);
}
.submenu {
  list-style: none;
/*  position: absolute;*/
  position: relative;
  display: block;
  z-index: 100;
  width: 450px;
  top: 0px;
  clear: both;
  align-items: center;
  text-align: center;
  padding: 0px 0 20px 0;
  background-color: var(--back-color);
  margin-top: -4px;
  visibility: hidden;
}
.submenu ul{
  text-align: center;
}
.submenu li{
/*  display: flex;
  justify-content: center;*/
  width:100%;
  padding: 5px 0 5px 0;
  align-items: center;
  text-align: center;
}

.pmenu:hover {
  background-color: var(--back-color); 
}
.pmenu:hover .submenu {
/*	background-color: var(--back-color);   */
  transition: all 0.5s;
  visibility: visible;

}
/*.pmenu:active .submenu {
		background-color: red;
	  transition: all 0.3s;
	  visibility: hidden;
	
}
.pmenu a:checked .submenu{
  	background-color: pink;
    transition: all 0.3s;
    visibility: hidden;
}*/

.tableul {
  text-align: left;
/*    list-style-type:circle */
  list-style-type: '';
  text-wrap: nowrap; 
  text-overflow: ellipsis;
  margin: 0;
  padding-left: 1em;
  z-index: var(--tableTDZindex);
  position: relative;
}



.tablepmenu {
cursor: pointer;
list-style: '';
position: relative;
text-align: left;
align-items: left;
padding: auto;
/*  list-style: none;*/
}
.teblesubitem {
  list-style: none;
  z-index: var(--tableTDZindex);
/*  display: inline-block;
clear: both;*/
  display: block;
  align-items: left;
  text-align: left;
  /*width: 150%;*/
  background-color: rgb(200, 243, 245);
  overflow:visible;
  padding-left:1em;
  margin:0px;
}
.teblesubitem li{
    text-align: left;
   /* overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}
.territoryTable {
  text-align: center;
  table-layout:fixed; 
  width:60%;
  font-size:12px; 
  font-weight: bold;
  margin: 10;
  padding: 10px;
  border-spacing: 0;
}
.territoryTable th{
  z-index: var(--tableTHZindex);
  position: sticky;
  top:80px;
  font-size:12px;
  padding: 0.2rem;
  margin: 0;
  text-align: center;
  background: rgb(200, 243, 245);
  border: 1px solid black;
}
.territoryTable td {
/*  text-align: start;*/
  text-align: center;
  margin-top: 0;
  padding: 0;
  vertical-align: top;
  border-left: 1px solid black;
}
/*.territoryTable td:first-child {
  border-left: 1px solid black;
}*/
.territoryTable td:last-child{
  border-right: 1px solid black;
}
.territoryTable tr:last-child>*{
  border-bottom: 1px solid black;
}
/* margin-top: var(--hedder-height);*/

