<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'/>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'/>
    <script src='https://ktgis.net/leaflet1.3.1/leaflet.js'></script>
    <link rel='stylesheet' href='https://ktgis.net/leaflet1.3.1/leaflet.css' />
    <script src='https://ktgis.net/leaflet1.3.1/L.Map.Sync.js'></script>
    <script src='https://ktgis.net/mandara/mandara2leaflet3.js'></script>
    <script src='https://ktgis.net/mandara/leaflet_tiles.js'></script>
    <script src='static/関西藩test_data.js'></script>
    <script src='static/territoryDataOriginal.js'></script>
    <script src='static/datatable.js'></script>
    <link rel="stylesheet" href="/static/detailmenu.css" />
  </head>
  <body onload='mapinitialize()' >
    <div id="pageTop"></div>
      <div class="map">
        <div id='twoMapScreenDiv'><input id='twoMapScreenCheck' type='checkbox' checked onchange='twoMapScreenChange()' />2画面表示<br />
        <input id='twoMapScreenSync' type='checkbox' checked onchange='twoMapScreenSyncChange()' />2画面連動<br /></div>
        <div id='leftside' style='z-index:5; font-size:14px; position: absolute; padding:0px;border:solid; border-width:1px'></div>
        <div id ='titlebox' style='background-color: aqua; font-size: 14px; text-align: center ; position: absolute'>
          <header>
              <div class="site-title">関西の藩地図：大正９年の町村を旧藩で色分け</div>
              <ul class="navUl" >
              
              <li class="pmenu"  ontouchstart=""> 領地選択 
                <ul class="submenu">
                  <li>
                    <details id=pattern1 style="padding-left: 10px;"> 
                      <summary >播磨国</summary>
                        <table>
                          <tbody><tr>
                            <td><a href="javascript:hanClick('A.播磨国 姫路藩');">姫路藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 山崎藩');">山崎藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 安志藩');">安志藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 三ヶ月藩');">三ヶ月藩</a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:hanClick('A.播磨国 赤穂藩' );">赤穂藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 福本藩' );">福本藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 三草藩');">三草藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 小野藩' );">小野藩</a></td>
                          </tr>
                          <tr>
                            <td><a href="javascript:hanClick();"></a></td>
                            <td><a href="javascript:hanClick('A.播磨国 明石藩');">明石藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 竜野藩');">竜野藩</a></td>
                            <td><a href="javascript:hanClick('A.播磨国 林田藩');">林田藩</a></td>
                          </tr>
                          </tbody>
                        </table>
                      </details>
                  </li>
                  <li>
                      <details> 
                            <summary>摂津国</summary>
                            <table>
                              <tbody><tr>
                                <td><a href="javascript:hanClick('B.摂津国 尼ヶ崎藩');">尼ヶ崎藩</a></td>
                                <td><a href="javascript:hanClick('B.摂津国 麻田藩');">麻田藩</a></td>
                                <td><a href="javascript:hanClick('B.摂津国 三田藩');">三田藩</a></td>
                                <td><a href="javascript:hanClick('B.摂津国 高槻藩');">高槻藩</a></td>
                              </tr>
                            </tbody>
                            </table>
                      </details>
                  </li>
                  <li>
                    <details> 
                          <summary  >但馬国</summary>
                          <table>
                            <tbody><tr>
                              <td></td>
                              <td><a href="javascript:hanClick('C.但馬国 出石藩');">出石藩</a></td>
                              <td><a href="javascript:hanClick('C.但馬国 村岡藩');">村岡藩</a></td>
                              <td><a href="javascript:hanClick('C.但馬国 豊岡藩');">豊岡藩</a></td>
                            </tr>
                          </tbody>
                          </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                          <summary  >丹後国</summary>
                          <table>
                            <tbody><tr>
                              <td></td>
                              <td><a href="javascript:hanClick('D.丹後国 宮津藩');">宮津藩</a></td>
                              <td><a href="javascript:hanClick('D.丹後国 峯山藩');">峯山藩</a></td>
                              <td><a href="javascript:hanClick('D.丹後国 舞鶴藩');">舞鶴藩</a></td>
                            </tr>
                          </tbody>
                          </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >丹波国</summary>
                      <table>
                        <tbody>
                          <tr>
                            <td><a href="javascript:hanClick('E.丹波国 亀岡藩');">亀岡藩</a></td>
                            <td><a href="javascript:hanClick('E.丹波国 園部藩');">園部藩</a></td>
                            <td><a href="javascript:hanClick('E.丹波国 山家藩');">山家藩</a></td>
                            <td><a href="javascript:hanClick('E.丹波国 柏原藩');">柏原藩</a></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><a href="javascript:hanClick('E.丹波国 福知山藩');">福知山藩</a></td>
                            <td><a href="javascript:hanClick('E.丹波国 篠山藩');">篠山藩</a></td>
                            <td><a href="javascript:hanClick('E.丹波国 綾部藩');">綾部藩</a></td>                        
                          </tr>
                        </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >山城国</summary>
                      <table>
                        <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td><a href="javascript:hanClick('H.山城国 淀藩');">淀藩</a></td>
                          <td></td>
                        </tr>
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >河内国・和泉国・紀伊国</summary>
                      <table>
                        <tbody>
                          <tr>
                            <td><a href="javascript:hanClick('F.河内国 丹南藩');">河内国 丹南藩</a></td>
                            <td><a href="javascript:hanClick('F.河内国 狭山藩');">河内国 狭山藩</a></td>
                            <td><a href="javascript:hanClick('G.和泉国 伯太藩');">和泉国 伯太藩</a></td>
                            <td><a href="javascript:hanClick('G.和泉国 岸和田藩');">和泉国 岸和田藩</a></td>
                            
                        </tr>
                        <tr>
                          <td></td>
                          <td><a href="javascript:hanClick('J.紀伊国 和歌山藩');">紀伊国 和歌山藩</a></td>
                          <td><a href="javascript:hanClick('J.紀伊国 新宮藩');">紀伊国 新宮藩</a></td>
                          <td><a href="javascript:hanClick('J.紀伊国 田辺藩');">紀伊国 田辺藩</a></td>
                          
                        </tr>
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary>大和国</summary>
                      <table>
                        <tbody>
                          <tr>
                            <td><a href="javascript:hanClick('I.大和国 小泉藩');">小泉藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 柳本藩');">柳本藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 柳生藩');">柳生藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 櫛羅藩');">櫛羅藩</a></td>
                            
                          </tr>
                          <tr>
                            <td><a href="javascript:hanClick('I.大和国 田原本藩');">田原本藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 芝村藩');">芝村藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 郡山藩');">郡山藩</a></td>
                            <td><a href="javascript:hanClick('I.大和国 高取藩');">高取藩</a></td>
                          </tr>
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >近江国</summary>
                      <table>
                        <tbody>
                          <tr>
                            <td><a href="javascript:hanClick('K.近江国 吉見藩');">吉見藩</a></td>
                            <td><a href="javascript:hanClick('K.近江国 大溝藩');">大溝藩</a></td>
                            <td><a href="javascript:hanClick('K.近江国 山上藩');">山上藩</a></td>
                            <td><a href="javascript:hanClick('K.近江国 彦根藩');">彦根藩</a></td>
                            
                          </tr>
                          <tr>
                            <td><a href="javascript:hanClick('K.近江国 水口藩');">水口藩</a></td>
                            <td><a href="javascript:hanClick('K.近江国 膳所藩');">膳所藩</a></td>
                            <td><a href="javascript:hanClick('K.近江国 西大路藩');">西大路藩</a></td>
                          <td></td>
                        </tr>
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >幕府・御料地等</summary>
                      <table>
                        <tbody>
                          <tr>
                            <td><a href="javascript:hanClick('Z. 幕府');">幕府</a></td>
                            <td><a href="javascript:hanClick('Z. 一橋家');">一橋家</a></td>
                            <td><a href="javascript:hanClick('Z. 田安家');">田安家</a></td>
                            <td><a href="javascript:hanClick('Z. 旗本等知行地');">旗本等知行地</a></td>
                          </tr>
                          <tr>
                            <td></td>
                          <td><a href="javascript:hanClick('Z. 御料・公家領地');">御料・公家領地</a></td>
                          <td><a href="javascript:hanClick('Z. 寺社領地');">寺社領地</a></td>
                          <td></td>
                        </tr>
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <details> 
                      <summary  >他国の藩</summary>
                      <table>
                        <tbody>
                        <tr>
                          <td><a href="javascript:hanClick('阿波国 徳島藩');">阿波国 徳島藩</a></td>
                          <td><a href="javascript:hanClick('讃岐国 丸亀藩');">讃岐国 丸亀藩</a></td>
                          <td><a href="javascript:hanClick('若狭国 小浜藩');">若狭国 小浜藩</a></td>
                          <td><a href="javascript:hanClick('備中国 岡田藩');">備中国 岡田藩</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('伊勢国 津藩');">伊勢国 津藩</a></td>
                          <td><a href="javascript:hanClick('伊勢国 久居藩');">伊勢国 久居藩</a></td>
                          <td><a href="javascript:hanClick('伊勢国 桑名藩');">伊勢国 桑名藩</a></td>
                          <td><a href="javascript:hanClick('加賀国 金沢藩');">加賀国 金沢藩</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('美濃国 加納藩');">美濃国 加納藩</a></td>
                          <td><a href="javascript:hanClick('三河国 半原藩');">三河国 半原藩</a></td>
                          <td><a href="javascript:hanClick('三河国 豊橋藩');">三河国 豊橋藩</a></td>
                          <td><a href="javascript:hanClick('遠江国 浜松藩');">遠江国 浜松藩</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('相模国 小田原藩');">相模国 小田原藩</a></td>
                          <td><a href="javascript:hanClick('武蔵国 岡部藩');">武蔵国 岡部藩</a></td>
                          <td><a href="javascript:hanClick('武蔵国 川越藩');">武蔵国 川越藩</a></td>
                          <td><a href="javascript:hanClick('武蔵国 忍藩');">武蔵国 忍藩</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('上総国 飯野藩');">上総国 飯野藩</a></td>
                          <td><a href="javascript:hanClick('上総国 鶴牧藩');">上総国 鶴牧藩</a></td>
                          <td><a href="javascript:hanClick('下総国 古河藩');">下総国 古河藩</a></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('上野国 沼田藩');">上野国 沼田藩</a></td>
                          <td><a href="javascript:hanClick('上野国 館林藩');">上野国 館林藩</a></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('下野国 佐野藩');">下野国 佐野藩</a></td>
                          <td><a href="javascript:hanClick('下野国 壬生藩');">下野国 壬生藩</a></td>
                          <td><a href="javascript:hanClick('下野国 宇都宮藩');">下野国 宇都宮藩</a></td>
                          <td><a href="javascript:hanClick('常陸国 土浦藩');">常陸国 土浦藩</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:hanClick('出羽国 山形藩');">出羽国 山形藩</a></td>
                          <td><a href="javascript:hanClick('陸奥国 棚倉藩');">陸奥国 棚倉藩</a></td>
                          <td><a href="javascript:hanClick('陸奥国 会津藩');">陸奥国 会津藩</a></td>
                          <td><a href="javascript:hanClick('陸奥国 湯長谷藩');">陸奥国 湯長谷藩</a></td>
                          
                        </tr>                     
                      </tbody>
                      </table>
                    </details>
                  </li>
                  <li>
                    <a href="javascript:hanClick('ALL');">全村再表示</a>
                  </li>
                </ul>
              </li>
              <li ><a href="#dataDiv"> 領地一覧  </a></li>
              <li ><a href="Hyougo_Map.html">兵庫県藩地図</a></li>
              <li><a href="Explanation.html"> 解説  </a></li>
            </ul>
          </header>
        </div>
        <div id='mapcanvas0' style='margin: 0; z-index: 0;border:solid; border-width:1px ; position: absolute'></div>
        <div id='mapcanvas1' style='z-index: 0;border:solid; border-width:1px ; position: absolute'></div>
        <div id='notebox' style='position: absolute'> </div>
      </div>
      <div id="dataDiv" ></div> 
      <div class="dataheader">
           <!-- <nav style="justify-content: start;padding-top: 100px;background-color: rgb(128, 224, 248);">-->
            <nav style="justify-content: start;padding-top: 10px;">
                  <div style="font-weight: bold;border-right:0px;width:200px">【<label id="dispVilName" >全</label> 町村一覧】</div>
          </nav>
          <!--<div class="dataheader">-->
            <nav class="subnav" >
              <ul style="display: flex; list-style:none">
                <li style="width: 200px;"><label id="VilCount" >全村</label>
              <!--  <li  class="pmenu" style="border-top: 1px solid rgb(241, 41, 15)">項目名 <select name="selObj" id="selObj"></select>x
                <li  ontouchstart="">検索
                          <input  class="inputtext" type="input" id="selText" name="selecttext" value="" required; style="width:10em">-->
                </li>
                <li><a href="#pageTop">地図に戻る</a></li>
              </ul>
            </nav>
      </div>
       <!-- ***** 動的に作成されるデータ一覧表の部分-->
      <div id="table" >              
      </div> 
  </body>
  <script>
  function mapinitialize(){

   initialize()
    
    var readdata = "";
    var query = window.location.search;
    var value = query.split('=');
    var HanName=""
    if (value[0]=="?han"){
      HanName = decodeURIComponent(value[1])
    }
    
    selectElm = document.getElementById("dataitem0:0")
    selectOptions = selectElm.options

    for (let i = 0 ; i < selectOptions.length ; i++){
      if (selectOptions[i].innerHTML == HanName){
        selectOptions[i].setAttribute("selected", true);
      }
    }
//    let e = new Event('onchange');
//    selectOptions.dispatchEvent(e);
   // changeDataItem(0,0,false)
   selectElm.onchange()

   makeTable()

    }
function hanClick(HanName){
 var readdata = "";
  if (HanName =="ALL"){
    HanName = "旧国名"
  }

 selectElm = document.getElementById("dataitem0:0")
 selectOptions = selectElm.options

 for (let i = 0 ; i < selectOptions.length ; i++){
   if (selectOptions[i].innerHTML == HanName){
   // console.log(HanName+":"+i+":"+selectOptions[i].innerHTML)
    selectOptions[i].selected = true
    //selectOptions[i].setAttribute("selected", true);
   }
 }
 //   let e = new Event('onchange');
 //   selectElm.dispatchEvent(e);
  changeDataItem(0,0,false)
  selectElm.onchange()

  if(HanName =="旧国名"){
    makeTable();
  }else {
    spt = HanName.split(" ")
    makeHanTable(spt[spt.length -1]) 
  }

 }
  </script>
</html>
